---
http_interactions:
- request:
    method: get
    uri: https://bing.com/search?q=github
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.bing.com:443/search?q=github&toWww=1&redig=6516F98704DC411196151BE52B96C4B4
      X-Snr-Routing:
      - '1'
    body:
      encoding: UTF-8
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object
        moved to <a href=\"https://www.bing.com:443/search?q=github&amp;toWww=1&amp;redig=6516F98704DC411196151BE52B96C4B4\">here</a>.</h2>\r\n</body></html>\r\n"
  recorded_at: Tue, 20 Jul 2021 03:14:32 GMT
- request:
    method: get
    uri: https://www.bing.com/search?q=github&redig=6516F98704DC411196151BE52B96C4B4&toWww=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Snr-Routing:
      - '1'
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en\" xml:lang=\"en\" xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:Web=\"http://schemas.live.com/Web/\"><script type=\"text/javascript\"
        >//<![CDATA[\r\nsi_ST=new Date\r\n//]]></script><head><!--pc--><title>github
        - Bing</title><meta content=\"text/html; charset=utf-8\" http-equiv=\"content-type\"
        /><meta name=\"referrer\" content=\"origin-when-cross-origin\" /><link href=\"/search?format=rss&amp;q=github&amp;toWww=1&amp;redig=6516F98704DC411196151BE52B96C4B4\"
        rel=\"alternate\" title=\"XML\" type=\"text/xml\" /><link href=\"/search?format=rss&amp;q=github&amp;toWww=1&amp;redig=6516F98704DC411196151BE52B96C4B4\"
        rel=\"alternate\" title=\"RSS\" type=\"application/rss+xml\" /><link href=\"/sa/simg/favicon-2x.ico\"
        rel=\"shortcut icon\" /><link href=\"/sa/simg/Roboto_Regular.woff2\" rel=\"preload\"
        type=\"font/woff2\" as=\"font\"[...]
- request:
    method: get
    uri: https://www.bing.com/sa/simg/Roboto_Regular.woff2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - font/woff2
      Last-Modified:
      - Mon, 01 Jan 1601 00:00:00 GMT
      X-Snr-Routing:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        d09GMgABAAAAADvwABIAAAAAi0gAADuNAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGmQbmUAcg0oGYACGTAhUCYM8EQwKgdZ4gb8uC4NeABKBeAE2AiQDhzYEIAWCdAcgDIJJG2h8FWybhrPbQQCpv+xiNqKCjQMSDPvSoijbpKfJ/v+WQGXIul3TDuAqOgqNLZcwkctyqCnLxWhTrJNo79WE5k6GKatE1o3SvaK4sJDXpoT6YtFd+/Lw8PmX7l4XzrN0P/Fte+rwEB4iODSGD805y529C6/iCWPdCO0/3QxyM2+f7giNfZLLw1Ndj38uqnpiTwCu4i96BdB74/UQze1+Y2P02JDIgYJJpI[...]
- request:
    method: get
    uri: https://www.bing.com/sa/simg/Roboto_Semibold.woff2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - font/woff2
      Last-Modified:
      - Mon, 01 Jan 1601 00:00:00 GMT
      X-Snr-Routing:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        d09GMgABAAAAADxMABIAAAAAinwAADvpAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGmQbmXocg0oGYAC[...]
- request:
    method: get
    uri: https://www.bing.com/rp/e1XmdSVblbz00jeW9qP33KjS7Vg.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Last-Modified:
      - Sat, 19 Jun 2021 23:25:54 GMT
      Etag:
      - '0x8D93379959E47A7'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
      - BlockBlob
    body:
      encoding: UTF-8
      string: var customEvents,__spreadArrays,fallbackReplay,EventLoggingModule;_w.EventsToDuplicate=[];_w.useSharedLocalStorage=!1;define("shared",["require","exports"],function(n,t){function
        s(n,t){for(var r=n.length,i=0;i<r;i++)t(n[i])}function r(n){for(var i=[],t=1;t<arguments.length;t++)i[t-1]=arguments[t];return
        function(){n.apply(null,i)}}function u(n){i&&event&&(event.returnValue=!1);n&&typeof
        n.preventDefault=="f[...]
- request:
    method: get
    uri: https://www.bing.com/rp/SCxUuvk0sPqFRKfOkmEoggbqfEs.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=utf-8
      Last-Modified:
      - Thu, 18 Mar 2021 20:51:31 GMT
      Etag:
      - '0x8D8EA4F9C3F0126'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
    [...]
- request:
    method: get
    uri: https://www.bing.com/rp/eF3rIdIG4fsLyPy7mzgRnjCDKIA.png
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Last-Modified:
      - Tue, 22 Sep 2020 02:22:57 GMT
      Etag:
      - '0x8D85E9E6B7B6050'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
      - BlockBlob
    body:
     [...]
- request:
    method: get
    uri: https://www.bing.com/fd/ls/l?DATA=%5B%7B%22T%22:%22CI.BM%22,%22FID%22:%22CI%22,%22Name%22:%22HV%22%7D%5D&IG=19420F91FCDC46D59072E88A21B2ED4F&Type=Event.ClientInst
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 20 Jul 2021 03:14:34 GMT
- request:
    method: get
    uri: https://www.bing.com/rp/1jtGgbIo-_FsUS3d9ZdPv0gfi5M.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=utf-8
      Last-Modified:
      - Tue, 18 Aug 2020 02:04:09 GMT
      Etag:
      - '0x8D8431AFEAD5D28'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
    [...]
- request:
    method: get
    uri: https://www.bing.com/rp/iWFthZXPLSa1gShyOa-2JlVCYxU.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=utf-8
      Last-Modified:
      - Thu, 21 Jan 2021 00:15:02 GMT
      Etag:
      - '0x8D8BDA19919E5FC'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
      - BlockBlob
    body:
      encoding: UTF-8
      string: (function(){function u(){n&&(n.value.length>0?Lib.CssClass.add(sj_b,t):Lib.CssClass.remove(sj_b,t))}function
        f(r){n.value="";Lib.CssClass.remove(sj_b,t);sj_log("CI.XButton","Clicked","1");i&&Lib.CssClass.add(i,"b_focus");n.focus();n.click();r&&(r.preventDefault(),r.stopPropagation())}var
        i=_ge("b_header"),n=_ge("sb_form_q"),r=_ge("sb_clt"),t="b_sbText";n&&r&&(sj_be(r,"click",f),sj_be(n,"keyup",u),u())})()
  recorded_at: Tue, 20 Jul 2021 03:14:34 GMT
- request:
    method: get
    uri: https://www.bing.com/rp/lOaTzpq1jaTt1GVPvzMREklCL0I.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=utf-8
      Last-Modified:
      - Tue, 01 Sep 2020 18:51:45 GMT
      Etag:
      - '0x8D84EA812D57472'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
    [...]
- request:
    method: get
    uri: https://www.bing.com/rp/PFthU2cdL1GRIZ_DA2LTGVNRDqU.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Last-Modified:
      - Wed, 07 Jul 2021 22:50:06 GMT
      Etag:
      - '0x8D9419990FD468F'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
      - Block[...]
- request:
    method: get
    uri: https://www.bing.com/rp/9n2g4zAWh8k5vtdrqf4lx1azOQE.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=utf-8
      Last-Modified:
      - Thu, 28 Jan 2021 01:06:38 GMT
      Etag:
      - '0x8D8C328F6EA6CDE'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
      - BlockBlob
    body:
      encoding: UTF-8
      string: (function(){function i(){var f="data-load",u,i;if(n&&!n.hasAttribute(f))try{if(_d.body.appendChild(n),typeof
        sj_gx=="function"){if(u=r.replace("%IG%",_G.IG).replace("%IID%",n.getAttribute("data-iid")).replace("%PARTNER%",n.getAttribute("data-ptn")).replace("%ENABLEP%",n.getAttribute("data-ep")),n.setAttribute(f,"1"),i=sj_gx(),!i)return
        null;i.onreadystatechange=function(){typeof sj_appHTML=="function"&&4==i.readyState&&200==i.status&&sj_appHTML(n,i.responseText)};i.open("GET",t?SbiTst.at(u):u,!0);i.send(null)}}catch(e){}}function
        u(){if(n){var r=n.getAttribute("data-evt");r&&!t?sj_evt.bind(r,i,!0):i()}}var
        r="/images/sbi?mmasync=1&ig=%IG%&iid=%IID%&ptn=%PARTNER%&ep=%ENABLEP%",n=_ge("sbicom_loader"),t=typeof
        SbiTst!="undefined";u()})()
  recorded_at: Tue, 20 Jul 2021 03:14:35 GMT
- request:
    method: get
    uri: https://www.bing.com/rp/tIEh5pX9ZIPKp_SN5z_p8SF3cQk.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=utf-8
      Last-Modified:
      - Wed, 24 Jun 2020 04:28:30 GMT
      Etag:
      - '0x8D817F70C549FAE'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
    [...]
- request:
    method: post
    uri: https://www.bing.com/fd/ls/lsp.aspx
    body:
      encoding: UTF-8
      string: <ClientInstRequest><Events><E><T>Event.ClientInst</T><IG>19420F91FCDC46D59072E88A21B2ED4F</IG><TS>1626790266472</TS><D><![CDATA[{id:3938,P:"2:bs,3:bs,4:bs,5:bt,7:cg,6:c8,8:ch,9:cp,10:cq,11:cu,12:s5,13:s5,14:s5,15:xk,16:xk,17:xk",S:"nav:0",v:1.1,T:"CI.Perf",FID:"CI",Name:"PerfV2"}]]></D></E></Events><STS>1626790266472</STS></ClientInstRequest>
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 20 Jul 2021 14:11:08 GMT
- request:
    method: get
    uri: https://www.bing.com/fd/ls/l?DA=BN2B&DATA=%7B%22pp%22:%7B%22S%22:%22L%22,%22FC%22:353,%22BC%22:353,%22SE%22:-1,%22TC%22:-1,%22H%22:597,%22BP%22:612,%22CT%22:614,%22IL%22:2%7D,%22ad%22:%5B-1,-1,785,585,1084,1618,0%5D,%22net%22:%22undefined%22%7D&IG=19420F91FCDC46D59072E88A21B2ED4F&P=SERP&Type=Event.CPT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 20 Jul 2021 14:11:08 GMT
- request:
    method: get
    uri: https://www.bing.com/fd/ls/l?DATA=%5B%7B%22T%22:%22CI.Init%22,%22TS%22:1626790266479,%22Name%22:%22Base%22,%22FID%22:%22CI%22%7D,%7B%22width%22:%22800%22,%22T%22:%22CI.Info%22,%22TS%22:1626790266479,%22Name%22:%22NOTP%22,%22FID%22:%22BRW%22%7D,%7B%22height%22:%22585%22,%22T%22:%22CI.Info%22,%22TS%22:1626790266481,%22Name%22:%22S%22,%22FID%22:%22BRH%22%7D,%7B%22RawDPR%22:%222%22,%22T%22:%22CI.Info%22,%22TS%22:1626790266485,%22Name%22:%222.00%22,%22FID%22:%22DPR%22%7D,%7B%22T%22:%22CI.Info%22,%22TS%22:1626790266487,%22Name%22:%220%22,%22FID%22:%22DM%22%7D%5D&IG=19420F91FCDC46D59072E88A21B2ED4F&TYPE=Event.ClientInst
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 20 Jul 2021 14:11:08 GMT
[...]
- request:
    method: get
    uri: https://www.bing.com/fd/ls/l?DA=BN2B&DATA=%7B%22pp%22:%7B%22S%22:%22L%22,%22FC%22:137,%22BC%22:137,%22SE%22:-1,%22TC%22:-1,%22H%22:264,%22BP%22:274,%22CT%22:275,%22IL%22:2%7D,%22ad%22:%5B-1,-1,785,585,1084,1618,0%5D,%22net%22:%22undefined%22%7D&IG=19420F91FCDC46D59072E88A21B2ED4F&P=SERP&Type=Event.CPT
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 20 Jul 2021 14:11:10 GMT
recorded_with: VCR 6.0.0
