---
http_interactions:
- request:
    method: get
    uri: https://bing.com/search?q=github
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://www.bing.com:443/search?q=github&toWww=1&redig=4910EBDF156F4DD688AFA311BD557A11
      X-Snr-Routing:
      - '1'
    body:
      encoding: UTF-8
      string: "<html><head><title>Object moved</title></head><body>\r\n<h2>Object
        moved to <a href=\"https://www.bing.com:443/search?q=github&amp;toWww=1&amp;redig=4910EBDF156F4DD688AFA311BD557A11\">here</a>.</h2>\r\n</body></html>\r\n"
  recorded_at: Tue, 20 Jul 2021 02:59:06 GMT
- request:
    method: get
    uri: https://www.bing.com/search?q=github&redig=4910EBDF156F4DD688AFA311BD557A11&toWww=1
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      X-Snr-Routing:
      - '1'
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html><html dir=\"ltr\" lang=\"en\" xml:lang=\"en\" xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:Web=\"http://schemas.live.com/Web/\"><script type=\"text/javascript\"
        >//<![CDATA[\r\nsi_ST=new Date\r\n//]]></script><head><!--pc--><title>github
        - Bing</title><meta content=\"text/html; charset=utf-8\" http-equiv=\"content-type\"
        /><meta name=\"referrer\" content=\"origin-when-cross-origin\" /><link href=\"/search?format=rss&amp;q=github&amp;toWww=1&amp;redig=4910EBDF156F4DD688AFA311BD557A11\"
        rel=\"alternate\" title=\"XML\" type=\"text/xml\" /><link href=\"/search?format=rss&amp;q=github&amp;toWww=1&amp;redig=4910EBDF156F4DD688AFA311BD557A11\"
        rel=\"alternate\" title=\"RSS\" type=\"application/rss+xml\" /><link href=\"/sa/simg/favicon-2x.ico\"
        rel=\"shortcut icon\" /><link href=\"/sa/simg/Roboto_Regular.woff2\" rel=\"preload\"
        type=\"font/woff2\" as=\"font\"[...]
- request:
    method: get
    uri: https://www.bing.com/rp/e1XmdSVblbz00jeW9qP33KjS7Vg.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
      Last-Modified:
      - Sat, 19 Jun 2021 23:25:54 GMT
      Etag:
      - '0x8D93379959E47A7'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
      - BlockBlob
    body:
      encoding: UTF-8
      string: var customEvents,__spreadArrays,fallbackReplay,EventLoggingModule;_w.EventsToDuplicate=[];_w.useSharedLocalStorage=!1;define("shared",["require","exports"],function(n,t){function
        s(n,t){for(var r=n.length,i=0;i<r;i++)t(n[i])}function r(n){for(var i=[],t=1;t<arguments.length;t++)i[t-1]=arguments[t];return
        function(){n.apply(null,i)}}function u(n){i&&event&&(event.returnValue=!1);n&&typeof
        n.preventDefault=="f[...]
- request:
    method: get
    uri: https://www.bing.com/sa/simg/Roboto_Semibold.woff2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - font/woff2
      Last-Modified:
      - Mon, 01 Jan 1601 00:00:00 GMT
      X-Snr-Routing:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        d09GMgABAAAAADxMABIAAAAAinwAADvpAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGmQbmXocg0oGYAC[...]
- request:
    method: get
    uri: https://www.bing.com/rp/SCxUuvk0sPqFRKfOkmEoggbqfEs.js
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-javascript; charset=utf-8
      Last-Modified:
      - Thu, 18 Mar 2021 20:51:31 GMT
      Etag:
      - '0x8D8EA4F9C3F0126'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
    [...]
- request:
    method: get
    uri: https://www.bing.com/sa/simg/Roboto_Regular.woff2
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - font/woff2
      Last-Modified:
      - Mon, 01 Jan 1601 00:00:00 GMT
      X-Snr-Routing:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        d09GMgABAAAAADvwABIAAAAAi0gAADuNAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGmQbmUAcg0oGYACG[...]
- request:
    method: get
    uri: https://www.bing.com/rp/eF3rIdIG4fsLyPy7mzgRnjCDKIA.png
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Last-Modified:
      - Tue, 22 Sep 2020 02:22:57 GMT
      Etag:
      - '0x8D85E9E6B7B6050'
      X-Ms-Version:
      - '2009-09-19'
      X-Ms-Lease-Status:
      - unlocked
      X-Ms-Blob-Type:
      - BlockBlob
    body:
     [...]
- request:
    method: get
    uri: https://www.bing.com/fd/ls/l?DATA=%5B%7B%22T%22:%22CI.BM%22,%22FID%22:%22CI%22,%22Name%22:%22HV%22%7D%5D&IG=1D76261CF2A746E4B0C2F64A0D1581DD&Type=Event.ClientInst
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 20 Jul 2021 02:59:08 GMT
recorded_with: VCR 6.0.0
